/*******************************************************************************
*                             Reglas generales                                 *
*******************************************************************************/
/*******************************************************************************
  Colores:
  Azul: #08245a
  Gris: #626c82
  Dorado: #ab8627
*******************************************************************************/
@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0
}
html {
  /* Apple: Futura, MS: Calibri, Otros: Georgia */
  font-family: Futura, Calibri, Georgia
}
html, body {
  width: 100%;
  margin: 0 auto
}
body {
  background-color: #f2f2f2; /* Color Gris */
}
/*******************************************************************************
*                             Zona de header                                   *
*******************************************************************************/
header {
  background-color: #08245a; /* Color azul para el banner */
}
header, header ul, header h1 {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  color: White;
}
header h1 {
  font-size: 250%;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2%;
}
header ul {
  background-color: #ab8627; /* Color dorado */
}
header li {
  display: inline-block;
  margin: 0;
  padding: 2%;
}
header a {
  color: inherit;
  text-decoration: none;
  font-size: 150%;
  font-weight: 400;
  height: 100%;
}
header li:hover {
  color: #ab8627; /* Color Dorado */
  background-color: white;
}
